div.motion-graphics, button.motion-graphics {
    background-image: linear-gradient(#cb2d3e, #ef473a);
}
i.motion-graphics {
    background-image: url('../icons/bi/film.svg');
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    filter: invert(100%);
    background-size: contain;
}
div.video-production, button.video-production {
    background-image: linear-gradient(#f37335, #fdc830);
}
i.video-production {
    background-image: url('../icons/bi/camera-reels-fill.svg');
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    filter: invert(100%);
    background-size: contain;
}
div.metalworking, button.metalworking {
    background-image: linear-gradient(#ffd400, #ffe000);
}
i.metalwork {
    background-image: url('../icons/bi/thermometer-high.svg');
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    filter: invert(100%);
    background-size: contain;
}
div.web-dev, button.web-dev {
    background-image: linear-gradient(#56ab2f, #a8e063);
}
i.web-dev {
    background-image: url('../icons/bi/code-square.svg');
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    filter: invert(100%);
    background-size: contain;
}
div.programming, button.programming {
    background-image: linear-gradient(#1d61e7, #56ccf2);
}
i.programming {
    background-image: url('../icons/bi/terminal-fill.svg');
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    filter: invert(100%);
    background-size: contain;
}
div.woodworking, button.woodworking {
    background-image: linear-gradient(#6a3093, #a044ff);
}
i.woodworking {
    background-image: url('../icons/bi/hammer.svg');
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    filter: invert(100%);
    background-size: contain;
}
div.hardware, button.hardware {
    background-image: linear-gradient(#b91d73, #f953c6);
}
i.hardware {
    background-image: url('../icons/bi/motherboard-fill.svg');
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    filter: invert(100%);
    background-size: contain;
}
button {
    height: 2em;
    font-family: "Concourse C6";
    color: white;
    border: none;
    border-radius: 1em;
}
.projects {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 0.5fr 0.25fr 4.25fr;
  gap: 1% 1%;
  grid-auto-flow: row;
  grid-template-areas:
    "project-header project-header"
    "project-filter project-filter"
    "project-search ."
    "project-list project-view";
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 8%;
  padding-right: 5%;
}

.project-header { grid-area: project-header; }

.project-filter { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
    grid-area: project-filter; 
}

.project-search {
  justify-self: center;
  align-self: stretch;
  grid-area: project-search;
  width: 100%;
  height: 2em;
  border-radius: 1em;
  background-color: rgba(0,0,0,0);
  color: white;
}

.project-list {
  /* Grid Layout */
  justify-self: center;
  align-self: center;
  grid-area: project-list;
  width: 100%;
  height: 100%;
  /* Inner Properties */
  overflow: hidden;
}

.project-view {
  justify-self: center;
  align-self: center;
  grid-area: project-view;
  width: 100%;
  height: 100%;
}

.inset {
  margin: auto;
  width: 90%;
  height: 100%;
  overflow: auto;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-top: 1%;
  width: 95%;
  border-radius: 1em;
  padding-left: 1%;
}

.project-details {
  height: 100%;
  overflow: hidden;
  word-wrap: break-word;
  width: 60%;
}
.project-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
.project-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}
