/* Root Styling */
@font-face {
    font-family: "Concourse C6";
    src: url("./concourse_c6_regular.woff");
}
@font-face {
    font-family: "Concourse T7";
    src: url("./concourse_t7_regular.woff");
}
@font-face {
    font-family: "Concourse T6";
    src: url("./concourse_t6_regular.woff");
}
@font-face {
    font-family: "Concourse T3";
    src: url("./concourse_t3_regular.woff");
}
html, body {
    margin: 0;
    padding: 0;
}
* {
    font-family: "Concourse T3";
    font-size: 24px;
    color: white;
    box-sizing: border-box;
    scrollbar-color: #FFFFFF #1A1A1A;
    scrollbar-width: thin;
}
*::-webkit-scrollbar {
    background-color: #1A1A1A;
}
*::-webkit-scrollbar-thumb {
    border: 4px solid #1A1A1A;
    border-radius: 10px;
    background-color: white;
}
.app {
    width: 100%;
    min-height: 100vh;
    top: 0px;
    left: 0px;
}
.header {
    font-family: "Concourse C6";
    font-size: 8em;
}
.section {
    /* Width Account for Scrollbar */
    width: 100%;
    height: 100vh;
    background-image: url("./background1.svg");
    background-size: contain;
}
.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.blank {
    padding: 1em;
    font-family: "Concourse T3";
    border: 4px solid white;
    border-radius: 14px;
}
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 40%;
    border-radius: 25px;
    background-color: white;
    color: black !important;
    text-align: center;
}
.exit {
    position: absolute;
    top: 5%;
    left: 90%;
}
.about-bio {
    padding: 5px;
    overflow: scroll;
}
