/* Root Styling */
@font-face {
    font-family: "Concourse C6";
    src: url("./concourse_c6_regular.woff");
}
@font-face {
    font-family: "Concourse T6";
    src: url("./concourse_t6_regular.woff");
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
}
* {
    box-sizing: border-box;
}
.app {
    width: 100vw;
    min-height: 100vh;
    top: 0px;
    left: 0px;
}
.section {
    width: 100vw;
    height: 100vh;
    background-image: url("./background.svg");
    color: white;
}
