.container {
    position: fixed;
    top: 90vh;
    width: 100vw;
    margin: auto;
}
.socials {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vh;
    height: 5vh;
    background-color: #CCCCCC;
    border: none;
    border-radius: 50%;
}
